html,
body {
    background-color: #F8FCFD;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    /* background: url(../img/bg-pattern.svg); */
}

.right-dir {
  direction: rtl;
  text-align: right;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #009BDB; 
  border-radius: 10px;
}

.navbar {
  width: 100%;
  height: 75px;
  z-index: 102;
  background-color: transparent;
  line-height: 60px;
  position: absolute;
}

.navbar-dark .navbar-nav .nav-link {
  color: #FFF;
}

nav .navbar-brand:hover {
  border: 0;
  text-decoration: none;
  border-bottom: none;
}

nav .navbar-brand img {
  width: 125px;
  height: 55px;
}

nav ul {
  white-space: nowrap;
  float: right;
}

nav ul li {
  display: inline-block;
}

nav ul li:not(:last-child) {
    padding-right: 1rem;
}

nav a {
  border: 0;
}

nav ul li a {
  color: #FFF;
  font-size: 14px;
  text-decoration: none;
}

nav a.active,
nav a:hover {
  color: #FFF;
  transition: 0.5s;
  font-weight: bold;
  text-decoration: none;
}


/* start header */

.header {
    background: url(../img/main-image@2x.png);
    height: 146vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat ;
    color: #FFF;
}

.header .group {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    height: 100vh;
}

.header h1 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.header .h1 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.header p {
    font-size: 16px;
}

/* end header */

/* start about */

.about {
    margin-bottom: 7rem;
    margin-top: 5rem;
}

.about img {
    width: 80%;
    height: auto;
    background-size: cover;
}

.about .group {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.about h1 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.about p {
    font-size: 16px;
    line-height: 1.5;
    color: #535353;
}

/* end about */

/* start why */

.why {
  height: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: #000;
}

.why h1 {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 0px;
  text-align: center;
}

.why p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 3rem;
}

.why .porta {
  background-color: #FFF;
  box-shadow: 0px 3px 6px #179FBF29;
  border-radius: 5px;
  max-width: 23%;
  margin-left: 2%;
  margin-bottom: 4%;
  text-align: center;
}

.why .porta p {
  text-align: center;
  width: 100%;
  font-size: 14px;
  color: #000;
  line-height: 1.2;
  margin-top: .5rem;
}

.why .porta h5 {
  text-align: center;
  font-size: 16px;
  font-weight: 900;
  margin-top: 1rem;
}

.why .porta img {
  text-align: center;
  margin-top: 2rem;
}

/* end why */

/* start album */

.album h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.album p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.album .album-img {
    width: 100%;
    height: auto;
    padding: .5rem;
}

.album .album-img img {
    width: 100%;
    height: auto;
}

.album .album-a {
    text-align: center;
    margin-top: 2rem;
}

.album .hide {
  display: none;
}

.album a {
    color: #FFF;
    padding: .8rem;
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem;
    text-decoration: none;
    background-color: #042E7F;
    font-size: 14px;
    border-radius: 3px;
    border: none;
    margin-top: 2rem;
}

/* end album */

/* start Testimonials */


.Testimonials {
  padding-top: 5rem;
  height: 100%;
  margin-bottom: 5rem;
  color: #000;
}

.Testimonials .icon {
    text-align: center;
}


.Testimonials h1 {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.Testimonials p {
  font-size: 16px;
  text-align: center;
}

.Testimonials .buttom {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.Testimonials .buttom .img-3 {
  margin-right: 1rem;
}

.Testimonials .icon p {
  width: 90%;
  margin-left: 5%;
  text-align: center;
  font-size: 14px;
  margin-bottom: 2rem;
}

.Testimonials .icon h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.swiper-wrapper {
  margin-bottom: 1rem;
}

.Testimonials .swiper-slide {
  color: #000;
  background-color: #FFF;
  box-shadow: 0px 3px 6px #179FBF29;
  border-radius: 10px;
}

.Testimonials .icon .icon-1 {
  width: 27px;
  height: 21px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Testimonials .icon .icon-2 {
  width: 80px;
  height: 80px;
  margin-bottom: 2rem;
}

/* end Testimonials */

/* start clients */

.clients {
  margin-bottom: 5rem;  
  margin-top: 10rem;
}

.clients h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.clients p {
  font-size: 16px;
  text-align: center;
}

.clients img {
  width: 100%;
}

/* end clients */

/* start Contact */

.footer {
  background-image: linear-gradient( #F8FCFD 0% , #F8FCFD 70%, #042E7F 70% , #042E7F 100%);
  /* height: 100vh; */
}

.Contact {
  background: url(../img/contact@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 70%;
  /* height: 80vh; */
  /* margin-bottom: -4rem; */
  /* margin-top: 10rem; */
  margin-left: 15%;
  border-radius: 10px;
  color: #FFF;
  /* background-color: #042E7F; */
  position: relative;
  margin-bottom: 3rem;
}


.Contact p {
  margin-bottom: 0;
}

.Contact .p-1 {
  font-size: 14px;
  text-align: center;
}

.Contact h1 {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-top: 4rem;
}

.Contact h3 {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.Contact .porta {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Contact ul {
  text-align: center;
  list-style: none;
  margin-right: 3%;
}

.Contact i {
  color: #233e6a;
}

.Contact i:hover {
  color: #FFF;
}


.Contact ul li {
  display: inline-block;
  text-align: center;
  padding: 0.5%;
}

.Contact form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-self: center; 
  color: #fff;
}

.Contact form input {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 3px;
  padding: 1%;
  width: 60%;
  margin-bottom: 1rem;
}

.Contact form textarea {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 3px;
  padding: 1%;
  width: 60%;
  margin-bottom: 1rem;
  outline: none;
}

.Contact .send {
  color: #fff;
  font-size: 14px;
  padding: 1%;
  background-color: #042E7F;
  width: 17%;
  border: none;
  outline: none;
  border-radius: 3px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.copy-right {
  /* background-color: #042E7F; */
  /* height: 15vh; */
  margin-top: 3rem;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.copy {
  font-size: 12px;
  text-align: center;
  color: #fff;
}

 .pop-3 {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
}

::placeholder {
  color: #FFF;
  opacity: 1; /* Firefox */
}

.plus {
  text-decoration: none;
  color: #FFF;
}
.plus:hover {
  text-decoration: none;
  color: #FFF;
}

.viwe {
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding-bottom: .3rem;
}

/* end Contact */
/* start madia */


@media only screen and (max-width: 320px) {
  .header h1 {
    font-size: 20px;
  }

  
  .navbar ul li {
    text-align: center;
  }

  .nav-link {
    padding: 0;
  }

  .navbar .container {
    background-color: #4b40cf;
    opacity: .8;
  }
/* 
  .navbar {
    background-color: #4b40cf;
  } */

  .navbar ul {
    text-align: center;
    float: none;
  }

  .header {
    background-position: center;
  }
  .header p {
    font-size: 12px;
  }

  .about {
    width: 100%;
  }

  .about h1 {
    font-size: 20px;
  }

  .about p {
    font-size: 12px;
  }

  
  .why h1 {
    font-size: 20px;
  }

  .why p {
    font-size: 12px;
  }

  .why .group {
  padding: 0;
  max-width: 95%;
  padding: 2rem;
  }
  
  .why .pad {
  display: block !important;
  }
  
  
  .album h1 {
    font-size: 20px;
  }

  .album p {
    font-size: 12px;
  }

  .album .album-img img {
    padding: 1rem;
    padding-bottom: 0;
    padding-top: 0;
  }
  
  .clients h1 {
    font-size: 20px;
  }

  .clients p {
    font-size: 12px;
  }

  
  .Contact h1 {
    font-size: 20px;
  }

  .Contact .p-1 {
    font-size: 12px;
  }

  .Contact .copy {
    font-size: 9px;
  }

  .Contact form input {
    width: 90%;
  }

  .Contact form textarea {
    width: 90%;
  }

  .Contact .send {
    width: 50%;
    font-size: 12px;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }


  .Contact ul {
    margin-right: 2rem;
  }

  .why .porta {
    max-width: 95%;
  }

  .header .h1 {
    font-size: 20px;
  }


  .Contact .send {
    width: 70%;
  }

  .copy {
    font-size: 9px;
  }

}

@media (min-width: 321px) and (max-width: 425px) {
  .header h1 {
    font-size: 20px;
  }

  .header .h1 {
    font-size: 20px;
  }

  .nav-link {
    padding: 0;
  }

  .navbar ul li {
    text-align: center;
  }

  .navbar .container {
    background-color: #4b40cf;
    opacity: .8;
  }
/* 
  .navbar {
    background-color: #4b40cf;
  } */

  .navbar ul {
    text-align: center;
    float: none;
  }


  .header p {
    font-size: 12px;
  }

  .why .porta {
    max-width: 95%;
  }
  
  .header {
    background-position: center;
  }

  .about {
    width: 100%;
  }

  .about h1 {
    font-size: 20px;
  }

  .about p {
    font-size: 12px;
  }

  .about img {
    margin-bottom: 2rem;
  }
  
  .why h1 {
    font-size: 20px;
  }

  .why p {
    font-size: 12px;
  }

  .why .group {
  padding: 0;
  max-width: 95%;
  padding: 2rem;
  }
  
  .why .pad {
  display: block !important;
  }
  
  .album h1 {
    font-size: 20px;
  }

  .album p {
    font-size: 12px;
  }

    .album .album-img img {
    padding: 1rem;
    padding-bottom: 0;
    padding-top: 0;
  }

  .Contact {
    width: 92%;
    margin-left: 4%;
  }
  
  .clients h1 {
    font-size: 20px;
  }

  .clients p {
    font-size: 12px;
  }

  
  .Contact h1 {
    font-size: 20px;
  }

  .Contact .p-1 {
    font-size: 12px;
  }

  .Contact .copy {
    font-size: 9px;
  }

  .Contact form input {
    width: 90%;
  }

  .Contact form textarea {
    width: 90%;
  }

  .Contact .send {
    width: 50%;
    font-size: 12px;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .Contact ul {
    margin-right: 2rem;
  }


}

@media (min-width: 426px) and (max-width: 768px) {

  .about p {
    font-size: 13px;
  }
  .navbar ul li {
    text-align: center;
  }

  .navbar .container {
    background-color: #4b40cf;
    opacity: .8;
  }
/* 
  .navbar {
    background-color: #4b40cf;
  } */

  .nav-link {
    padding: 0;
  }
  
  .navbar ul {
    text-align: center;
    float: none;
  }


  .header {
    background-position: center;
  }
  
  .why .porta {
    max-width: 30%;
  }

  .Contact .send {
    width: 30%;
  }
  
}


/* end madia */
